.planet-links > .active {
    border-bottom: 4px solid #fff;
}
/* .travel-info {
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
}
 */

.destination {
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
}

@media screen and (min-width: 768px) {
    .destination {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }
}

@media screen and (min-width: 768px) {
    .destination {
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
    }
}