@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-explore {
    @apply w-36 h-36 rounded-full bg-white text-xl  md:w-60 md:h-60 md:text-3xl;
  }

  .page {
    @apply w-screen h-screen bg-no-repeat bg-cover;
  }

  .home-content {
    @apply w-full h-full  flex flex-col justify-between items-center py-16 px-10;
  }

  .nav {
    @apply flex absolute flex-col pl-2 pt-12  h-screen w-[70vw] md:flex-row md:static md:w-auto md:h-full md:pt-0 md:px-8 lg:px-16;
  }
}

:root {
  --primary-black: #0b0d17;
  --primary-light-lilac: #d0d6f9;
  --white: #fff;
  --font-primary: "Bellefair", serif;
  --font-secondary: "Barlow Condensed", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--white);
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
}

h1 {
  font-weight: 300;
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  letter-spacing: 2.7px;
  font-stretch: 100%;
  font-family: var(--font-secondary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-primary {
  font-family: var(--font-primary);
}

.subheading1 {
  font-size: 1.75rem;
  font-family: var(--font-primary);
}

.subheading2 {
  font-size: 0.75rem;
  font-family: var(--font-secondary);
  letter-spacing: 2.7px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 9.375rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9.375rem;
  }

  h2 {
    font-size: 6.25rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }
}

.text-lilac {
  color: var(--primary-light-lilac);
}
